*,
*::before,
*::after {
  box-sizing: border-box;
  border-top: 7px;
  border-bottom: 15px;
}

body {
  margin: 0px;
  text-align: center;
  background-color: rgba(252, 250, 253, 0.781);
}

::selection {
  background-color: pink;
  color: chartreuse;
}

h2::after {
  content: " 🪄 ";
}

h1 {
  font-family: "Alfa Slab One", cursive;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: xx-large;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: large;
  text-decoration: underline;
}

p,
li {
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 1400px;
  padding: 48px 16px;
  background-color: #ccd9ff;
  text-align: center;
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}

.main > * {
  border-top: 6px solid silver;
}

.main > *:first-child {
  border-top: none;
}

.mail:hover {
  background-color: skyblue;
}

.mail {
  color: rgb(156, 64, 78);
}

.mail:visited {
  color: rgb(156, 64, 78);
}

.contact {
  color: darkcyan;
}

.contact:visited {
  color: rgb(156, 64, 78);
}

.contact:hover {
  background-color: skyblue;
}

.nav-link {
  color: darkgray;
}

.nav-link:hover {
  background-color: darkkhaki;
}

.nav-link:active {
  background-color: honeydew;
}

.nav-link + .nav-link {
  margin-left: 40px;
}
